/*Variables*/
/*fonts sizes*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

* {
  outline: none !important;
}

a {
  text-decoration: none;
  color: black;
}

/*estilos generales*/
@font-face {
  font-family: "Lora";
  src: url(./fonts/Lora/Lora-VariableFont_wght.ttf);
}
.btn {
  background-color: #555;
  border-color: #555;
}
.btn:hover {
  background-color: #557686;
  border-color: #557686;
}

body {
  font-family: "amsterdam-three-slant";
  src: url(./fonts/amsterdam-three-slant.ttf);
  font-size: 14px;
  line-height: 1.42857143;
  color: #070707;
}
body header .logo {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 48px;
  margin: 5px 25px 5px 5px;
}
body header .carousel-item img.custom {
  height: 500px;
  object-fit: cover;
}
body header .navbar {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
  background: linear-gradient(90deg, rgba(215, 214, 228, 0.5550595238) 9%, rgba(75, 75, 108, 0.4990371148) 35%, rgba(108, 196, 214, 0.8351715686) 99%);
}
body header .navbar ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 0px 0px;
}
body header .navbar ul li {
  width: 200px;
  height: 40px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.07);
  color: #232323;
  font-family: "fantasy";
  font-size: 18px;
  align-items: center;
  text-align: center;
}
body header .navbar ul li a {
  text-decoration: none;
  color: black;
}
body header .navbar ul li a:hover {
  font: bold;
  font-size: smaller;
  color: rgb(38, 68, 68);
}
body header .navbar i {
  font-size: xx-large;
}
body .container-fluid {
  padding: 10px;
}
body .container-fluid .centrado {
  text-align: center;
  padding: 40px 0px 40px 0px;
}
body .container-fluid .centrado h1 {
  display: inline;
  padding: 10px;
  margin-inline: 10px;
  color: rgb(11, 7, 17);
}
body .container-fluid .sectioncard {
  display: flex;
  flex-wrap: wrap;
}
body .container-fluid .sectioncard .card {
  margin: 5px;
  background-color: #e3e5ec;
}
body .container-fluid .sectioncard .card img.custom {
  object-fit: cover;
  height: 20rem;
  border-color: #e3e5ec;
}
body .container-fluid .section2 {
  display: flex;
  background: linear-gradient(90deg, rgba(215, 214, 228, 0.5550595238) 9%, rgba(75, 75, 108, 0.4990371148) 35%, rgba(108, 196, 214, 0.8351715686) 99%);
  object-fit: cover;
  border-style: groove;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: large;
  /*opacity: 0.5;*/
}
body .footer-top {
  background-color: #ced0dc;
}
body .footer-top a:hover {
  font: bold;
  font-size: smaller;
  color: rgb(38, 68, 68);
}
body .footer-top .container {
  padding: 10px;
}
body .footer-top .containercredits {
  display: flex;
  background-color: #557686;
  padding: 1%;
}
body .footer-top .footer-links i {
  font-size: xx-large;
}
body .footer-top .footer-links .ifoo {
  font-size: large;
}
body .containercredits {
  display: flex;
  background-color: #557686;
  padding: 1%;
}
body .containercredits .copyright {
  padding-left: 100px;
}

@media (max-width: 800px) {
  .sectioncard {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
