@media (max-width: 800px){
 
  
    
    .sectioncard{
      display: flex;
      flex-direction: column;
      align-content: center;
      
       
    }
    
    .footer-top{
      
      text-align: center;
    }
    .titulo{
      font-size: small;
    }

}